*{
	margin: 0;
	padding: 0;

}
.navbar{

border: none;
background-color: #FF7F50;
color: black;
}
body{
	background-color: darkgrey;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#808080;
}

.center{
	width: 90%;
	background-color: black;

}
.container
{
	background-color: grey;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;
}